<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - <%= username %>
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="left-header">Welcome, <%= username %>
        </div>
        <div class="right-header">
            <a href="/main">Main</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <main>
        <div class="profile-info container">
            <img src="<%= profilePicture ? profilePicture : 'src/avatar.jpg' %>" alt="Profile Picture"
                class="profile_avatar">
            <h2>
                <%= username %>
            </h2>
            <p>ID: <%= userId %>
            </p>
            <p>Wallet Address: <%= address %>
            </p>
            <p>Bio: <%= bio %>
            </p>
            <p>Friends: <%= friendCount %>
            </p>
            <h3>Your Friends</h3>
            <ul>
                <% connections.forEach(friend=> { %>
                    <li>
                        <a href="/profile/<%= friend._id %>">
                            <%= friend.username %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <h2>Your Posts</h2>
            <ul>
                <% posts.forEach(post=> { %>
                    <li class="post">
                        <p class="post-content">
                            <%= post.content %>
                        </p>
                        <div class="comments">
                            <% post.comments.forEach(comment=> { %>
                                <div class="comment">
                                    <span class="comment-author">
                                        <%= comment.author.username %>:
                                    </span>
                                    <span class="comment-content">
                                        <%= comment.content %>
                                    </span>
                                </div>
                                <% }); %>
                        </div>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </main>
</body>

</html>